/* IMPORTANDO FUENTES EXTERNAS */
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
    font-style: normal;
}
@font-face{
    font-family:"Simbol";
    src:url("../fonts/websymbols-regular-webfont.ttf");
}
/* ESTILO DE LA CABECERA LOGO Y MENU*/
#main-header{
    width:100%;
    background-color:black;
    color:white;
    padding: .5%;
    min-height: 40px;
    line-height: 40px;
}
#header-elements{
    width:77%;
    margin:0 auto;
}
#header-logo,#header-menu{
    display: block;
    font-family:BebasNeue;
}
#header-logo{
    float: left;
    background-color: #37BCF9;
    width: 17%;
    max-height: 40px;
    line-height: 40px;
}
#logo-symbol{
    margin-left:10%;
    margin-right: 5%;
    font-family: Simbol;
    font-size: 1.8em;

}
#logo-name{
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
}
#header-menu{
    float: right;
    margin: 0;
    list-style: none;
    width: 73%;
}
.item-menu{
    margin:0 3%;
    display: inline-block;
}
.item-menu:nth-child(1){
    margin-left: 32%;
}
.enlace-item-menu{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
}